{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block extra_css %}
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.less" charset="utf-8">
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/xconf.js"></script>
{% endblock %}

{% block navigation %}
  <li ng-repeat="category in categories.results">
    <a href="#[[category.hyphanizedTitle]]" ng-click="switchTalks(category)">[[category.title]]</a>
  </li>
{% endblock %}

{% block main %}
  <section id="home" class="page">
    <div id="aboutXconf" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-caption">
            <h4>
              A platform to share learnings
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate urna porttitor odio semper congue. Sed ante diam, interdum quis rutrum quis, rutrum et ante. Duis semper porttitor leo, vitae porttitor tortor lacinia at. Donec pellentesque scelerisque ligula, at ornare mi vehicula et. Integer quis sagittis elit. In hac habitasse platea dictumst. Morbi gravida magna fermentum tellus hendrerit quis euismod orci tempor.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h4>
              An opportunity for listening to enlightening talks
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate urna porttitor odio semper congue. Sed ante diam, interdum quis rutrum quis, rutrum et ante. Duis semper porttitor leo, vitae porttitor tortor lacinia at. Donec pellentesque scelerisque ligula, at ornare mi vehicula et. Integer quis sagittis elit. In hac habitasse platea dictumst. Morbi gravida magna fermentum tellus hendrerit quis euismod orci tempor.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h4>
              A stepping ground for aspiring speakers
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate urna porttitor odio semper congue. Sed ante diam, interdum quis rutrum quis, rutrum et ante. Duis semper porttitor leo, vitae porttitor tortor lacinia at. Donec pellentesque scelerisque ligula, at ornare mi vehicula et. Integer quis sagittis elit. In hac habitasse platea dictumst. Morbi gravida magna fermentum tellus hendrerit quis euismod orci tempor.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h4>
              A chance to interact with fellow Thoughtworkers
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate urna porttitor odio semper congue. Sed ante diam, interdum quis rutrum quis, rutrum et ante. Duis semper porttitor leo, vitae porttitor tortor lacinia at. Donec pellentesque scelerisque ligula, at ornare mi vehicula et. Integer quis sagittis elit. In hac habitasse platea dictumst. Morbi gravida magna fermentum tellus hendrerit quis euismod orci tempor.
            </p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#aboutXconf" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#aboutXconf" data-slide="next">&rsaquo;</a>
    </div>

    <div class="description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor molestie lectus vitae rhoncus. Phasellus rhoncus enim ac dolor tempor vitae rutrum tellus porttitor. Vestibulum et ante eros. In vel augue in lorem venenatis tempor non id justo. Vestibulum mattis urna vitae lacus elementum sed vehicula tortor mollis. Praesent nunc lacus, aliquet vel vestibulum sed, sollicitudin in orci. Suspendisse enim ante, auctor non sollicitudin nec, varius et orci. Maecenas sem tellus, viverra ut lacinia nec, pulvinar at augue. Phasellus sagittis vehicula auctor. Nulla sagittis auctor risus vitae dapibus. Phasellus ornare tincidunt ullamcorper. Donec quis nulla eu libero blandit condimentum ut sit amet neque. 
      </p>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor molestie lectus vitae rhoncus. Phasellus rhoncus enim ac dolor tempor vitae rutrum tellus porttitor. Vestibulum et ante eros. In vel augue in lorem venenatis tempor non id justo. Vestibulum mattis urna vitae lacus elementum sed vehicula tortor mollis. Praesent nunc lacus, aliquet vel vestibulum sed, sollicitudin in orci. Suspendisse enim ante, auctor non sollicitudin nec, varius et orci. Maecenas sem tellus, viverra ut lacinia nec, pulvinar at augue. Phasellus sagittis vehicula auctor. Nulla sagittis auctor risus vitae dapibus. Phasellus ornare tincidunt ullamcorper. Donec quis nulla eu libero blandit condimentum ut sit amet neque. 
      </p>
      <p>
         <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor molestie lectus vitae rhoncus. Phasellus rhoncus enim ac dolor tempor vitae rutrum tellus porttitor. Vestibulum et ante eros. In vel augue in lorem venenatis tempor non id justo. Vestibulum mattis urna vitae lacus elementum sed vehicula tortor mollis. Praesent nunc lacus, aliquet vel vestibulum sed, sollicitudin in orci. Suspendisse enim ante, auctor non sollicitudin nec, varius et orci. Maecenas sem tellus, viverra ut lacinia nec, pulvinar at augue. Phasellus sagittis vehicula auctor. Nulla sagittis auctor risus vitae dapibus. Phasellus ornare tincidunt ullamcorper. Donec quis nulla eu libero blandit condimentum ut sit amet neque. 
      </p>
      </p>
    </div>
  </section>

  <section id="[[category.hyphanizedTitle]]" class="page page-[[category.id]] " ng-repeat="category in categories.results">
    <div class="container-fluid">
      <div class="row-fluid">   
        <div class="span12">
          <h2>[[category.title]]</h2>
          <div class="row-fluid">
            <div class="span3" ng-repeat="talk in talks.results | limitTo:4">
              <div class="hero-unit">
                <div class="pull-right row vote-icon vote" ng-click="vote(talk)"></div>
                <h3 class="text-center">[[talk.title]]</h3>
                <p>[[talk.description]]</p>
              </div>
            </div>
          </div>
          <a ng-click="nextPage(category)" ng-show="nextAvailable">Next</a>
          <a ng-click="previousPage(category)" ng-show="previousAvailable">Previous</a>

          <div class="row-fluid">
            <div class="span3" ng-repeat="talk in talks.results | startFrom:4">
              <div class="hero-unit text-center">
                <h3>[[talk.title]]</h3>
                <p>[[talk.description]]</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
