{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans "Leap" %}{% endblock %}
{% block title %}{% trans "Leap" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Leap" %}</li>
{% endblock %}

{% block extra_css %}
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.less" charset="utf-8">
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/leap.less" charset="utf-8">
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{{ STATIC_URL }}js/xconf.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/bespoke.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/bespoke-loop.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/leap.min.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/leappage.js"></script>
{% endblock %}

{% block main %}
    <article class="slides bespoke-parent">
        {% for slot in slots %}
            <section class="bespoke-slide">
                <h1>{{ slot.0.start_time }} </h1>
                <div class="schedule {{ slot.0.type.name|slugify}}">
                    <h4>{{ slot.0.name }}</h4>
                    <p>{{ slot.0.by }}</p>
                </div>
                <div class="schedule {{ slot.1.type.name|slugify}}">
                    <h4>{{ slot.1.name }}</h4>
                    <p>{{ slot.1.by }}</p>
                </div>
                <div class="schedule {{ slot.2.type.name|slugify}}">
                    <h4>{{ slot.2.name }}</h4>
                    <p>{{ slot.2.by }}</p>
                </div>
            </section>
        {% endfor %}
    </article>
{% endblock %}
