@about-height: 400px;

#aboutXconf {
	height: @about-height;
	.item {
		height: @about-height;
	}
}

#footer {
	.footer-links {
		text-align: center;
		li {
			display: inline;
		}
	}
}

.affix {
	top: 0;
	width: 100%;
	right: 0;
	left: 0;
}

#homepage {
	.category {
		padding-top: 65px;
	}
}