<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" ng-app="xconf" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css" />
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/xconf.less" />
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/rtl.css" />
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css" />
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% block extra_head %}{% endblock %}
    <script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.min.js"></script>
</head>
<body id="{% block body_id %}body{% endblock %}">
  <div class="user">
    {% include "includes/user_panel.html" %}
  </div>
  <div ng-controller="XConfCtrl" class="xconf">
    <div class="pull-right">
      {% include "includes/user_panel.html" %}
    </div>
    <section id="subnav-wrapper" >
      <div class="navbar visible-tablet visible-desktop navbar-fixed-bottom">
        <div class="navbar-inner">
          <ul class="nav page-0">
            <li>
              <a href="#home">Home</a>
            </li>
            {% block navigation %}
            {% endblock %}
          </ul>
        </div>
      </div>
    </section>
    {% block main %}{% endblock %}
  </div>
  {% compress js %}
    <script>
    $(function() {
        $('.middleinput:text, textarea').addClass('xlarge');
        $('.control-group label').addClass('control-label');
    });
    </script>
    {% block extra_js %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->
  {% endcompress %}
    

  {% include "includes/footer_scripts.html" %}

</body>
</html>